@font-face {
    font-family: "Coiny";
    src: url(./assets/fonts/Coiny.ttf);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #f0ffff;
    
}

body, nav {
    font-family: 'calibri', sans-serif;
}

header {
    display: flex;
    width: 100%;
    background: #004f4a;
    font-family: "Coiny", sans-serif;
    position: fixed;
    z-index: 100;
}

header h1 {
    padding: 0.5rem;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    color: #f0ffff;
    font-size: 2.5rem;
}

header h1 span {
    color:yellowgreen;
}

#menu-btn {
    width: 5rem;
    height: 4rem;
    background-color: #004f4a;
    color: #f0ffff;
    font-weight: bold;
    margin: 0.5rem;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid #9acd32;
}

.menu-overlay {
    background-color: #004f4abf;
    width: 100%;
    height: 100vh;
    display: block;
    position: fixed;
    z-index: 50;
}

.menu-off {
    display: none;
}

.menu-display {
    display: flex;
    flex-direction: column;
    background: #004f4a;
    margin-top: 5rem;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav a {
    color: #f0ffff;
    font-size: 2rem;
    text-decoration: none;
    padding: 2rem;
}

nav a:hover {
    background: #002421;
    color:#9acd32;
}

main {
    padding: 5rem 0 10rem 0;
}

h2 {
    width: 100%;
    font-family: "Coiny", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    text-shadow: 0 0 2px #0b3800;
    color:#004f4a;
}

#home, #store, #entry, #profile, #store section, #product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#home, #store, #entry, #profile, #product {
    align-content: flex-start;
}

#home p {
    text-align: justify;
    padding: 1rem;
}

#store section, #add-product {
    align-content: space-around;
    justify-content: center;
}

#form-entry, #add-product {
    margin: auto;
    max-width:30rem;
    background-color: #004f4a;
    color: #9acd32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#form-entry a, #add-product a {
    color: #9acd32;
}

#form-entry input, #add-product input {
    width: 100%;
    margin: 2rem 0;
    padding: 0.5rem;
    border-radius: 0rem;
    border: 1px solid;
    border-color: #313131;
    box-shadow: 0 0 2px #313131;
}

#form-entry fieldset, #add-product fieldset {
    padding: 2rem;
}

#form-entry input:last-child:hover, #add-product input:last-child:hover {
    background-color: #9acd32;
    color: #004f4a;
}


legend {
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

footer {
    width: 100%;
    min-height: 5rem;
    bottom: 0;
    padding: 1rem;
    background: #004f4a;
    position: fixed;
}

footer p {
    color: #f0ffff;
    text-align: center;
}

#loading {
    display: flex;
    align-items: center;
}

.loading {
    width: 100%;
    height: auto;
}

h3 {
    color: #0b3800;
    margin: 0 0 1rem 0;
}

#add-product h3 {
    color: #9acd32;
    margin: 0 0 1rem 0;
}

#account, #purchasing-order, #admin-panel, #cart section {
    background-color: #ffffffd7;
    box-shadow: 0 0 5px #002421;
    padding : 1rem;
    width: 60%;
    margin: 1rem auto;
    border-radius: 1rem;
}

#account table, #cart section table {
    margin: auto;
}

#account table tr td, #cart section table tr td {
    padding: 1rem 2rem;
}


.valid {
    color: green;
    font-weight: bold;
}

.unValid {
    color: red;
    font-weight: bold;
}

/*** GROUP ***/

.isAdmin {
    color: blue;
    font-weight: bold;
}

.isModerator {
    color: orangered;
    font-weight: bold;
}

.isUser {
    font-weight: bold;
}

@media screen and (min-width:768px) {
    #menu-btn {
        width: 15rem;
        height: 4rem;
    }

    .menu-display {
        width: 25%;
    }
}


@media screen and (min-width:1280px) {

    .menu-overlay {
        display: none;
    }
    
    .menu-display {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    main {
        padding: 15rem 0 15rem 0;
    }
}



